.main {
  background-color: rgb(33, 33, 33, 0.1);
  border-radius: var(--border-radius);
  padding: 1rem;
  display: flex;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  margin-left: 2rem;
  row-gap: 0.75rem;
}

.quantity {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  align-items: center;
  row-gap: 0.5rem;
}

.productImage {
  border-radius: var(--border-radius);
  width: 4rem;
  height: 4rem;
}

.productName {
  font-size: 24px;
  font-weight: 600;
}


.directionButton {
  display: flex;
  border-radius: 50%;
  border: 1px solid rgb(152, 148, 148);
  cursor: pointer;
}

.directionIcon {
  width: 24px;
  height: 24px;
}