@import "src/common/styles/mixins";

.main {
  @include shadow-lg;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
}

.productImage {
  height: 12rem;
  width: 14rem;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.productName {
  font-weight: 600;
  font-size: 1.1em;
}

.addButton {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  border: 1px solid rgba(33, 33, 33, 0.1);
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-weight: 600;

  &:hover {
    background-color: rgba(94, 208, 81, 0.8);
    color: white;
  }
}

.cartIcon {
  width: 16px;
  height: 16px;
}

.buttonWrapper {
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.buttonInfoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.4rem;

  & > span {
    font-size: 0.8rem;
  }
}