@import "src/common/styles/mixins";

.main {
  @include shadow-lg;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 14rem;
}

.categoryImage {
  width: 100%;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.categoryNameWrapper {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categoryName {
  font-weight: 600;
  font-size: 1.1em;
}