@import "src/common/styles/mixins";

.main {
  @include shadow-lg;
  padding: 2rem;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.addButton {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  border: 1px solid rgba(33, 33, 33, 0.1);
  cursor: pointer;
}

.cartIcon {
  width: 16px;
  height: 16px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.4rem;

  & > span {
    font-size: 0.8rem;
  }
}