.main {
  width: 100vw;
  height: calc(100vh - var(--header-height));
  padding-top: var(--header-height);
}

.menuWrapper {
  padding: 4rem;
}

.menu {
  height: 75vh;
  overflow-y: auto;
  background-color: rgb(33, 33, 33, 0.1);
  border-radius: var(--border-radius);
  padding: 2rem;
}

.itemGrid {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}